header {
    grid-area: header;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-color: green;
    grid-area: main;
}
footer {
    background-color: orange;
    grid-area: footer;
}
.hi {
    background-color: aqua;
    grid-area: b;
}
.card {
    display: grid;
    grid-template-rows: 50px 150px 50px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "header header"
        "b main"
        "footer footer"
        ;
        background-color: grey;
        gap: 4px;
        padding: 4px;
    }
    
    img {
        width: 100%;
    }
    h1 {
        margin: 0;
    }
    .grid-pad {
        padding: 12px;
        background-color: #fff;
    }