:root {
    --accent-light: hsl(80, 62%, 63%);
    --accent-mid: hsl(80, 62%, 53%);
    --accent-dark: hsl(80, 62%, 43%);

    --light-gray: hsl(0 0% 95%);

    --section-padding-left-right: 7%;
    --section-padding-top-bottom: 3em;
    --section-padding: var(--section-padding-top-bottom) var(--section-padding-left-right);
 
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button {
    border: none;
    border-radius: 9999px;
}
body {
    font-family: 'Nunito';
    margin: 0 auto;
}
header {
    padding: 1em var(--section-padding-left-right);
}
.logo {
    font-size: 1.4rem;
    color: var(--accent-dark);
    padding-bottom: .5em;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: black;
}
ul.menu a {
    font-size: .9rem;
}
ul.menu li {
    background-color: hsl(0 0% 90%);
    padding: 0.5em 1em;
    border-radius: 999px;
    margin-right: .5em;
}
ul.menu li:last-of-type {
    margin-right: 0;
}
.hero {
    padding: var(--section-padding);
}
.hero h1 {
    padding-bottom: .5em;
}
.hero p {
    padding-bottom: 1.5em;
}
.hero button {
    padding: .5em 1em;
    margin: .75em;
    margin-left: 0;
    border-radius: 999px;
    border: none;
    background-color: var(--accent-dark);
    color: white;
    font-weight: bold;
}

.mmo {
    background-color: hsl(0, 0%, 50%);
    padding: var(--section-padding);
}
.mmo__button {
    display: inline-block;
    border-radius: 999px;
    background-color: antiquewhite;
    padding: .75em 2em;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em 0;
    background-color: var(--accent-light);
}
.mmo__button--emoji {
    font-size: 2em;
}