:root {
    /* --shadow-color: 80deg 50% 42%; */
    --shadow-color: 0deg 0% 50%;
    --shadow-elevation-low:
      0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.38),
      0.5px 0.5px 0.7px -1.7px hsl(var(--shadow-color) / 0.31),
      1.3px 1.3px 1.8px -3.5px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-medium:
      0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.32),
      0.7px 0.7px 1px -0.9px hsl(var(--shadow-color) / 0.28),
      1.5px 1.5px 2.1px -1.7px hsl(var(--shadow-color) / 0.25),
      3.3px 3.2px 4.5px -2.6px hsl(var(--shadow-color) / 0.21),
      6.6px 6.6px 9.1px -3.5px hsl(var(--shadow-color) / 0.17);
    --shadow-elevation-high:
      0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.3),
      1px 1px 1.4px -0.4px hsl(var(--shadow-color) / 0.28),
      1.8px 1.8px 2.5px -0.8px hsl(var(--shadow-color) / 0.26),
      2.9px 2.9px 4px -1.2px hsl(var(--shadow-color) / 0.25),
      4.5px 4.5px 6.2px -1.6px hsl(var(--shadow-color) / 0.23),
      6.9px 6.9px 9.5px -1.9px hsl(var(--shadow-color) / 0.21),
      10.4px 10.4px 14.3px -2.3px hsl(var(--shadow-color) / 0.2),
      15.1px 15.1px 20.8px -2.7px hsl(var(--shadow-color) / 0.18),
      21.3px 21.3px 29.4px -3.1px hsl(var(--shadow-color) / 0.16),
      29.3px 29.2px 40.3px -3.5px hsl(var(--shadow-color) / 0.14);
}
:root {
    --color-gray-50: hsl(210deg, 25%, 96%);
    --color-gray-100: hsl(210deg, 25%, 88%);
    --color-gray-200: hsl(210deg, 20%, 77%);
    --color-gray-300: hsl(210deg, 14%, 66%);
    --color-gray-400: hsl(210deg, 12%, 55%);
    --color-gray-500: hsl(210deg, 8%, 50%);
    --color-gray-600: hsl(210deg, 9%, 45%);
    --color-gray-700: hsl(210deg, 10%, 40%);
    --color-gray-800: hsl(210deg, 15%, 25%);
    --color-gray-900: hsl(210deg, 15%, 20%);
    --color-gray-1000: hsl(210deg, 19%, 10%);

    --background: #ffffff;
    --surface: #ffffff;
    --error: #b00020;

    --on-primary: ;
    --on-secondary: ;
    --on-background: ;
    --on-surface: ;
    --on-error: ;

    --primary-50: #f3f9e9;
    --primary-100: #e1efc8;
    --primary-200: #cee4a5;
    --primary-300: #bad981;
    --primary-400: #aad164;
    --primary-500: #9cc849;
    --primary-600: #8cb841;
    --primary-700: #77a437;
    --primary-800: #63902e;
    --primary-900: #406e1d;

    --secondary-50: #f5f3e1;
    --secondary-100: #e8e0b2;
    --secondary-200: #d9cc81;
    --secondary-300: #ccba4e;
    --secondary-400: #c5ac25;
    --secondary-500: #be9f00;
    --secondary-600: #be9300;
    --secondary-700: #be8400;
    --secondary-800: #bd7500;
    --secondary-900: #bc5a00;

    --section-padding-left-right: 7%;
    --section-padding-top-bottom: 3em;
    --section-padding: var(--section-padding-top-bottom) var(--section-padding-left-right);
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
body {
    font-family: 'Nunito';
    margin: 0 auto;
}
button {
    border: none;
    border-radius: 9999px;
}
a {
    text-decoration: none;
    color: var(--color-gray-900)
}
/* Header Section */

header {
    padding: 1em var(--section-padding-left-right);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px solid hsl(0, 0%, 80%);
    box-shadow: var(--shadow-elevation-medium);
}
.logo {
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block;
    color: var(--primary-500);
    margin-right: 10px;
}
nav {
    visibility: hidden;
    z-index: 1;
    width: 60%;
    height: 100vh;
    background-color: var(--primary-200);
    filter: drop-shadow(0px 0px 4px hsl(0 0% 70%));
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    transition: all .3s;
}
.open-nav {
    /* for js */
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s;
}
.open {
    width: 27px;
}
.exit {
    float: right;
    margin: 20px 28px 0 0;
    width: 28px;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em 0;
    margin: 0;
    clear: right;
}
.menu li {
    padding: 0.5em 1em;
    /* background-color: hsl(0, 0%, 75%); */
    background-color: var(--primary-50);
    width: 100%;
    margin: .5em 0;
}
.menu li:hover {
    background-color: var(--secondary-100);
}
.menu a {
    color: hsl(0, 0%, 13%);
    font-size: 2rem;
    font-weight: 300;
}
.menu .active {
    position: relative;
    background-color: var(--secondary-50)
}
.menu .active a {
    font-weight: bold;
}
.active::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
    background-color: var(--secondary-200);
}
.submenu li {
    background-color: unset;
    margin-left: 1em;
    border-left: 2px solid var(--primary-600);
}
.submenu li:hover {
    background-color: var(--secondary-100);
}
.submenu li a{
    font-size: 1.1rem;
}
.submenu p {
    display: none;
}
@media (min-width: 550px) {
    nav {
        visibility: unset;
        width: unset;
        background-color: unset;
        position: unset;
        height: 100%;
        transform: unset;
        opacity: unset;
        filter: unset;
    }
    .open, .exit {
        display: none;
    }
    .menu {
        flex-direction: row;
        padding: 0;
    }
    .menu li {
        padding: 0.5em;
        margin-right: 1em;
        background-color: unset;
    }
    .menu li:last-of-type {
        margin-right: 0;
    }
    .menu a {
        font-size: 1rem;
        font-weight: 300;
    }
    .menu .active {
        font-weight: bold;
        
    }
    .menu li:hover {
        background-color: var(--primary-50);
        border-radius: 999px;
    }
    .active::after {
        background-color: var(--primary-500);
        height: 4px;
    }
    .submenu {
        display: none;
    }
}
/* Hero Section */
.bulb {
    position: absolute;
    z-index: -1;
    top: 30px;
    right: -60px;
    width: 200px;
    rotate: -8deg;
    filter: grayscale(100%);
}
.hero:hover .bulb {
    filter: grayscale(0%)
}
.hero {
    position: relative;
    overflow: hidden;
    padding: var(--section-padding);
}
.hero h1 {
    padding-bottom: .5em;
    color: var(--color-gray-1000);
}
.hero p {
    padding-bottom: 1.5em;
    color: var(--color-gray-600);
}
.hero button {
    padding: .5em 1em;
    margin: .75em;
    margin-left: 0;
    border-radius: 999px;
    border: none;
    background-color: var(--primary-700);
    color: white;
    font-weight: bold;
}
/* MMO Section */
.mmo {
    background-color: var(--primary-100);
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
}
.mmo__button {
    display: flex;
    justify-content: center;
    border-radius: 999px;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.125em;
    margin: 1em 0;
    background-color: white;
}
.mmo__button--emoji {
    font-size: 20px;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    background-color: var(--background);
    margin: .5em;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
