* {
    padding: 0;
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito';
}
figure {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}
table {
    font-family: 'Nunito';
    border-collapse: collapse;
    text-align: left;   
}
th {
    white-space: nowrap;
}
th, td {
    border: 1px solid hsl(0, 0%, 50%);
    padding: .5em 2em;
}
tbody tr:nth-child(odd) {
    background-color: hsla(0 0% 94% / .5);
}

tr td:nth-child(1n + 2) {
    text-align: center;
}

tbody tr:hover {
    background-color:hsl(120, 50%, 85%);
}

@media (max-width: 500px) {
    /* table {
        max-width: 90%;
        margin: 0;
    }
    table, thead, tbody, tfoot, tr, td, th, caption {
        display: block;
    }
    tr td:nth-child(1n + 2) {
        text-align: left;
    } */
    table {
        width: 95%;
        margin: 0 auto;

    }
    th {
        white-space: unset;
    }
    th, td {
        border: 1px solid hsl(0, 0%, 50%);
        padding: .2em 0;
        text-align: center;
    }
}